.loginPaper {
    position: relative;
    top: 10%;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 1em;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.MuiFormControl-root {
    width: 100%;
}

.MuiInput-root {
    margin-bottom : 2em;
}

.actions {
    margin-top : 2em;
    width: 100%;
    text-align: center;
}

